# Nice ls
#   -l Long format with details
#   -A Almost all (include hidden, exclude . and ..)
#   -h Human readable file sizes
#   -G or --color-auto Colourise output on Linux and OSX
#   -F Classify entries with one of the following types
#     * Executable
#     / Directory
#     @ Symlink
#     | Pipe
#     = Socket
alias ls="ls -GlAhF"

# Flush DNS cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Force sign a python binary to avoid OSX firewall nagging
alias pysign="sudo codesign --force --deep --sign - $(which python)"
