[alias]
	# Readable concise status
	s = status -s -b

	# Readable pretty logs
	l = log --format='%h %Cred%ar%Creset %Cgreen%s' --graph

	# View aliases
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\:\\ /

	# Get the current branch name (not so useful in itself, but used in
	# other aliases) via https://gist.github.com/robmiller/6018582
	branch-name = "!git rev-parse --abbrev-ref HEAD"

	# Reset the current branch to upstream's version
	rs-upstream = "!git stash && git fetch upstream -p && git reset --hard upstream/$(git branch-name)"

	# Reset the current branch to origin's version
	rs = "!git stash && git fetch origin -p && git reset --hard origin/$(git branch-name)"

	# Push the current branch to origin and track it
	publish = "!git push -u origin $(git branch-name)"

	# Checkout a new branch in the format feat/{feature-name}
	nf = "!f() { git checkout -b \"feat/$1\" 2> /dev/null || git checkout \"feat/$1\"; }; f"

	# Delete all local branches that have been merged with the current branch. Ref: https://stackoverflow.com/a/46192689/517553
	dm = "!git fetch -p && git branch -vv | grep ': gone]' | grep -v \"*\" | awk '{ print $1; }' | xargs -r git branch -d"
					
	# Amend the previous commit
	amend = "!git add -A && git commit --amend --no-edit"

	# Merge changes from upstream into current branch
	#merge-upstream = "!git rs-upstream"

	# Update logs based on http://stackoverflow.com/a/34467298/517553
	lg = "!git lg1"
    lg1 = "!git lg1-specific --all"
    lg2 = "!git lg2-specific --all"
    lg3 = "!git lg3-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

	# 'NEW BrancheS' list local branches ordered by newest commit date
	newbs = for-each-ref --sort=committerdate refs/heads/ --format='%(color:reset)committed: %(color:yellow)%(committerdate:short) %(color:cyan)%(refname:short) %(color:reset)%(authorname)'

[core]
	editor = vim
	excludesfile = ~/d/dotfiles/.gitignore
	# http://www.git-tower.com/blog/make-git-rebase-safe-on-osx
	# 2020 note. is this still needed?
	trustctime = false
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[push]
	default = simple
[diff]
	# Detect copies as well as renames
	renames = copies
[include]
	path = .gitconfig.personal