#!/bin/bash

brew install \
deno \
firefox \
gh \
git \
google-chrome \
jq \
micro \
multipass \
rectangle \
slack \
spotify  \
starship \
sublime-merge \
sublime-text \
visual-studio-code \
volta \
wezterm

volta install node