#!/bin/bash

brew install \
deno \
firefox \
gh \
git \
git-delta \
google-chrome \
jq \
micro \
multipass \
rectangle \
slack \
spotify  \
starship \
sublime-merge \
sublime-text \
visual-studio-code \
# volta \
wezterm \
zsh-autosuggestions

brew tap homebrew/cask-fonts
brew install font-monaspace
brew install font-monaspace-nerd-font

# volta install node